<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!-- global params-->
    <arg name="robot" default="mybot"/>
    
    <arg name="localization_type" default="AMCL"/>
    <!-- Possible variants
        FIXED_ODOM   
        AMCL
        HECTOR
    -->
    <arg name="map" default="creech"/>
    <!-- Possible maps 
        creech
        my_creech
    -->
  
    <!-- URDF description -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>
    
    
    <!-- TF stuff -->
        <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

        <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
        
    
    <!-- run gazebo and spawn mybot -->
    <include file="$(find mybot_gazebo)/launch/mybot_world.launch"/>
    
    <group ns="$(arg robot)">
        <!-- software -->
        <include file="$(find mybot_config)/launch/mybot_software.launch">
            <arg name="robot" value="$(arg robot)"/>
            <arg name="localization_type" value="$(arg localization_type)"/>
            <arg name="map" value="$(arg map)"/>
        </include>
    
    </group>
    <!-- visualization -->      
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_config)/rviz/myrobot_gazebo.rviz"/>    
    
</launch>
